@model WebApplication1.Models.CHITIETSP

@{
    ViewBag.Title = "Details";
}

<h2>Số lượng sản phẩm</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên sản phẩm:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SANPHAM.TENSP)
        </dd>
        <hr />
        <dt>
            Tổng số lượng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SL_TONG)
        </dd>
        <hr />
        <dt>
            Size 36:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SL_SIZE36)
        </dd>

        <dt>
            Size 37:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SL_SIZE37)
        </dd>

        <dt>
            Size 38:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SL_SIZE38)
        </dd>

        <dt>
            Size 39:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SL_SIZE39)
        </dd>

        <dt>
            Size 40:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SL_SIZE40)
        </dd>

        <dt>
            Size 41:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SL_SIZE41)
        </dd>

        <dt>
            Size 42:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SL_SIZE42)
        </dd>

        <dt>
            Size 43:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SL_SIZE43)
        </dd>

        <hr />
    
    </dl>
</div>
<p>
    @Html.ActionLink("<< Trở lại danh sách", "Index", new { Controller = "SANPHAMs" }) | 
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MASANPHAM })
</p>
<br>
