@model WebApplication1.Models.CHITIETSP

@{
    ViewBag.Title = "Edit";
}

<h2>Cập nhật số lượng</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.MASANPHAM)

    <div class="form-group">
        @Html.LabelFor(model => model.SANPHAM.TENSP, "Tên sản phẩm:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.LabelFor(model => model.SANPHAM.TENSP, Model.SANPHAM.TENSP, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.ValidationMessageFor(model => model.SANPHAM.TENSP, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.SL_TONG, "Tổng số lượng:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SL_TONG, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SL_TONG, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.SL_SIZE36, "Size 36:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SL_SIZE36, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SL_SIZE36, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SL_SIZE37, "Size 37:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SL_SIZE37, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SL_SIZE37, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SL_SIZE38, "Size 38:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SL_SIZE38, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SL_SIZE38, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SL_SIZE39, "Size 39:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SL_SIZE39, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SL_SIZE39, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SL_SIZE40, "Size 40:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SL_SIZE40, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SL_SIZE40, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SL_SIZE41, "Size 41:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SL_SIZE41, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SL_SIZE41, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SL_SIZE42, "Size 42:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SL_SIZE42, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SL_SIZE42, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SL_SIZE43, "Size 43:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SL_SIZE43, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SL_SIZE43, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr/>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a style="border: 1px solid darkgray;" href="@Url.Action("Index", "SANPHAMs")" class="btn btn-outline-primary">
                <i class="fas fa-arrow-left"></i> Trở lại danh sách
            </a>
            &emsp; <a style="color:lightgray;">|</a>&emsp;
            <input style="border: 1px solid darkgray;" type="submit" value="Lưu thay đổi" class="btn btn-outline-primary" />

        </div>
    </div>
</div>
}
<br>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
