@using WebApplication1.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Use a local account to log in.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe, "Ghi nhớ tài khoản")
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                    <br />
                    <br />
                    <br />
                    <div class="col-md-offset-2 col-md-10">
                        <p>
                            <a href="@Url.Action("Register")" style="background-color:cornflowerblue" class="btn btn-outline-light">
                                Đăng ký tài khoản mới <i class="fas fa-user-plus"></i>
                            </a>
                        </p>
                    </div>
                </div>
                <hr />
                <p style="font-weight:bold; font-size:20px">Lưu ý:</p><p style="font-size:16px; font-weight:normal"> * Nếu quên mật khẩu hãy liên hệ: <abbr style="font-weight:bold;" title="Phone">0367909248</abbr> -  <abbr style="font-weight:bold;" title="Phone">0917278756</abbr> - <abbr style="font-weight:bold;" title="Phone">0903036429</abbr></p>
                <p style="font-size:16px"> * Hoặc gửi Email với nội dung <addr style="font-weight:bold;">"Password"</addr> đến địa chỉ: <a style="font-weight:bold;" href="mailto:Support@example.com"> tuan.197pm21996@vanlanguni.vn</a><br> (Chú ý: Email gửi yêu cầu phải là Email được dùng để đăng ký tài khoản)</p>
                <br />
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}