@model WebApplication1.Models.SANPHAM

@{
    ViewBag.Title = "Delete";
}

<h2>Xóa sản phẩm</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã sản phẩm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MASP)
        </dd>
        <dt>
            Tên sản phẩm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENSP)
        </dd>

        <dt>
            Thương hiệu:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THUONGHIEU)
        </dd>

        <dt>
            Giá:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIA)
        </dd>

        <dt>
            Mô tả:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOTA)
        </dd>

        <dt>
            Ngày thêm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYTHEM)
        </dd>
        <dt>
            Số lượng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHITIETSP.SL_TONG)
        </dd>
        <dt>
            Hình ảnh:
        </dt>

        <dd>
            <img src="@Url.Content(Model.CHITIETSP.HINHANH1 + " ")" style="        height: 150px;
        width: auto;
        margin: 10px;" />

            <img src="@Url.Content(Model.CHITIETSP.HINHANH2 + " ")" style="        height: 150px;
        width: auto;
        margin: 10px;" />

            <img src="@Url.Content(Model.CHITIETSP.HINHANH3 + " ")" style="        height: 150px;
        width: auto;
        margin: 10px;" />

            <img src="@Url.Content(Model.CHITIETSP.HINHANH4 + " ")" style="        height: 150px;
        width: auto;
        margin: 10px;" />

            <img src="@Url.Content(Model.CHITIETSP.HINHANH5 + " ")" style="        height: 150px;
        width: auto;
        margin: 10px;" />
            <br>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-actions no-color">
                    <input type="submit" value="Xóa" class="btn btn-default" />
                </div>
            }
        </dd>
    </dl>
    <hr />
    @Html.ActionLink("<< Trở lại", "Index")
</div>
