@model WebApplication1.Models.SANPHAM

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết sản phẩm</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã Sản phẩm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MASP)
        </dd>

        <dt>
            Tên sản phẩm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENSP)
        </dd>

        <dt>
            Thương hiệu:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THUONGHIEU)
        </dd>

        <dt>
            Giá:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIA)
        </dd>

        <dt>
            Mô tả:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOTA)
        </dd>

        <dt>
            Ngày thêm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYTHEM)
        </dd>
        <dt>
            Tổng số lượng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHITIETSP.SL_TONG)
        </dd>
        <hr />
        <dt>
            Số lượng Size 36:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHITIETSP.SL_SIZE36)
        </dd>

        <dt>
            Số lượng Size 37:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHITIETSP.SL_SIZE37)
        </dd>

        <dt>
            Số lượng Size 38:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHITIETSP.SL_SIZE38)
        </dd>

        <dt>
            Số lượng Size 39:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHITIETSP.SL_SIZE39)
        </dd>

        <dt>
            Số lượng Size 40:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHITIETSP.SL_SIZE40)
        </dd>

        <dt>
            Số lượng Size 41:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHITIETSP.SL_SIZE41)
        </dd>

        <dt>
            Số lượng Size 42:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHITIETSP.SL_SIZE42)
        </dd>

        <dt>
            Số lượng Size 43:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHITIETSP.SL_SIZE43)
        </dd>
        <hr />
        <dt>
            Màu 1:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHITIETSP.MAUSAC1)
        </dd>

        <dt>
            Màu 2:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHITIETSP.MAUSAC2)
        </dd>

        <dt>
            Màu 3:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHITIETSP.MAUSAC3)
        </dd>

        <dt>
            Màu 4:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHITIETSP.MAUSAC4)
        </dd>

        <dt>
            Màu 5:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHITIETSP.MAUSAC5)
        </dd>

        <dt>
            Màu 6:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHITIETSP.MAUSAC6)
        </dd>

        <dt>
            Màu 7:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHITIETSP.MAUSAC7)
        </dd>

        <dt>
            Màu 8:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHITIETSP.MAUSAC8)
        </dd>

        <dt>
            Màu 9:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHITIETSP.MAUSAC9)
        </dd>

        <dt>
            Màu 10:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHITIETSP.MAUSAC10)
        </dd>
        <hr />
        <dt>
            Hình ảnh:
        </dt>

        <dd>
            <img src="@Url.Content(Model.CHITIETSP.HINHANH1 + " ")" style="        height: 150px;
        width: auto;
        margin: 10px;" />

            <img src="@Url.Content(Model.CHITIETSP.HINHANH2 + " ")" style="        height: 150px;
        width: auto;
        margin: 10px;" />

            <img src="@Url.Content(Model.CHITIETSP.HINHANH3 + " ")" style="        height: 150px;
        width: auto;
        margin: 10px;" />

            <img src="@Url.Content(Model.CHITIETSP.HINHANH4 + " ")" style="        height: 150px;
        width: auto;
        margin: 10px;" />

            <img src="@Url.Content(Model.CHITIETSP.HINHANH5 + " ")" style="        height: 150px;
        width: auto;
        margin: 10px;" />
        </dd>
        <hr />
    </dl>
</div>
<p>
    @Html.ActionLink("<< Trở lại", "Index") |
    @Html.ActionLink("Sửa sửa thông tin", "Edit", new { id = Model.MASP }) | 
    @Html.ActionLink("Set Số lượng - Màu - Hình ảnh >>", "Edit", new { Controller = "CHITIETSPs", id = Model.MASP })

</p>
