@model WebApplication1.Models.SANPHAM

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết sản phẩm</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã Sản phẩm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MASP)
        </dd>

        <hr />

        <dt>
            Tên sản phẩm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENSP)
        </dd>

        <hr />

        <dt>
            Thương hiệu:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THUONGHIEU)
        </dd>

        <hr />

        <dt>
            Giá:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIA)
        </dd>

        <hr />

        <dt>
            Số lượng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHITIETSP.SL_TONG)
        </dd>

        <hr />

        <dt>
            Màu sắc:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAUSAC)
        </dd>

        <hr />

        <dt>
            Mô tả:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOTA)
        </dd>

        <hr>

        <dt>
            Ngày thêm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYTHEM, "{0:dd-MM-yyyy}")
        </dd>

        <hr>

        <dd>
            <img src="@Url.Content(Model.HINHANH + " ")" style="height: 350px; width:auto; margin: 10px;" />
        </dd>

        <hr>
    </dl>
</div>
<p>
    <a href="@Url.Action("Index")" style="background-color:cornflowerblue" class="btn btn-outline-light">
        <i class="fas fa-arrow-left"></i> Trở lại
    </a>
    &emsp; <a style="color:lightgray;">|</a> &emsp;
           <a href="@Url.Action("Edit", new { id = Model.MASP})" style="background-color:cornflowerblue" class="btn btn-outline-light">
               Chỉnh sửa &ensp;<i class="fas fa-edit"></i>
           </a>
    &emsp; <a style="color:lightgray;">|</a> &emsp;
           <a href="@Url.Action("Edit", "CHITIETSPs",new { id = Model.MASP})" style="background-color:cornflowerblue" class="btn btn-outline-light">
               Cập nhật số lượng &ensp;<i class="fas fa-edit"></i>
           </a>
</p>
<br>
