@model WebApplication1.Models.SANPHAM

@{
    ViewBag.Title = "Edit";
}

<h2>Chỉnh sửa sản phẩm</h2>


@using (Html.BeginForm("Edit", "SANPHAMs", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.MASP)

    <div class="form-group">
        @Html.LabelFor(model => model.MASP, "Mã sản phẩm:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.LabelFor(model => model.MASP, Model.MASP, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.ValidationMessageFor(model => model.MASP, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.TENSP, "Tên sản phẩm:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TENSP, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TENSP, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.THUONGHIEU, "Thương hiệu:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.THUONGHIEU, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.THUONGHIEU, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.GIA, "Giá:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.GIA, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.GIA, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.MAUSAC, "Màu sắc:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MAUSAC, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MAUSAC, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.MOTA, "Mô tả:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MOTA, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MOTA, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(model => model.NGAYTHEM, new { htmlAttributes = new { @hidden = "hidden" } })
            @Html.ValidationMessageFor(model => model.NGAYTHEM, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.HINHANH, "Hình ảnh:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.HINHANH, new { htmlAttributes = new { @hidden = "hidden" } })
            <img src="@Url.Content(Model.HINHANH + " ")" style=" height: 350px; width: auto; margin: 10px;" id="previewImage" />
            <input class="btn btn-outline-secondary" accept="image/*" type="file" name="ImageUpload" onchange="ShowImageProduct(this, document.getElementById('previewImage'))" />
            @Html.ValidationMessageFor(model => model.HINHANH, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a style="border: 1px solid darkgray;" href="@Url.Action("Index")" class="btn btn-outline-primary">
                <i class="fas fa-arrow-left"></i> Trở lại danh sách
            </a>
            &emsp; <a style="color:lightgray;">|</a> &emsp;
            <input border="1" style="border-color:darkgray;" type="submit" value="Lưu thay đổi" class="btn btn-outline-primary" />
        </div>
    </div>
</div>
}

<br>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
