@model IEnumerable<WebApplication1.Models.SANPHAM>

@{
    ViewBag.Title = "Home Page";
}

<style>
    .product-img {
        object-fit: cover;
        width: 350px;
        height: 300px;
        display: block;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="section_heading text-center">
                <div class="col-12 col-lg-9">
                    <div class="single_footer_area">
                        <div class="subscribtion_form">
                            <form action="@Url.Action("Search", "SANPHAMs")" method="get">
                                <input style="font-size:15px;" type="text" name="Keyword" class="mail" placeholder="Tên sản phẩm bạn muốn tìm kiếm" value="@ViewBag.Keywork">
                                <button class="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****** New Arrivals Area Start ****** -->
<section class="new_arrivals_area section_padding_100_0 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_heading text-center">
                    <h2>@((ViewBag.Keywork == "" || ViewBag.Keywork == null) ? "Products" : (Model.Count() != 0) ? "Kết quả tìm kiếm" : "Không tìm thấy kết quả cho: " + ViewBag.Keywork)</h2>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="container">
        <div class="row karl-new-arrivals">
            @foreach (var sanpham in Model)
            {

                <div class="col-12 col-sm-6 col-md-4 single_gallery_item women wow fadeInUpBig" data-wow-delay="0.2s">
                    <!-- Product Image -->
                    <div class="product-img">
                        <img src="@Url.Content(sanpham.HINHANH+" ")" alt="">
                        <div class="product-quicview">
                            <a href="@Url.Action("Productdetails", "SANPHAMs", new { id = sanpham.MASP })" style="font-size: 16px; font-weight: bold;">XEM</a>
                        </div>
                    </div>
                    <!-- Product Description -->
                    <div class="product-description">
                        <h4 class="product-price">@sanpham.GIA đ</h4>
                        <h4><a style="font-weight: bold" href="@Url.Action("Productdetails", "SANPHAMs", new { id = sanpham.MASP })">@sanpham.TENSP</a></h4>
                        <!-- Thương hiệu -->
                        <h4 style="color:black;">@sanpham.THUONGHIEU</h4>
                        <!-- Add to Cart -->
                        <h4><a href="#" class="add-to-cart-btn">ADD TO CART</a></h4>
                    </div>
                </div>
            }
            <!-- Single gallery Item Start -->

        </div>
    </div>
</section>
<!-- ****** New Arrivals Area End ****** -->
<hr />
<!-- ****** Popular Brands Area Start ****** -->
<section class="karl-testimonials-area section_padding_100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_heading text-center">
                    <h2>Testimonials</h2>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <div class="karl-testimonials-slides owl-carousel">

                    <!-- Single Testimonial Area -->
                    <div class="single-testimonial-area text-center">
                        <span class="quote">"</span>
                        <h6 style="font-size:15px;">
                            Giao hàng hanh hơn dự kiến. Sản phẩm về chất lượng thì cũng gọi là tốt 90/100 giống với hình ảnh nhưng. Đóng gói cẩn thận và có túi nilon bơm hơi chống mất form đầy đủ đồ như quảng cáo và có phiếu cảm ơn, tóm lại là 5 sao!
                        </h6>
                        <div class="testimonial-info d-flex align-items-center justify-content-center">
                            <div class="tes-thumbnail">
                                <img src="@Url.Content("~/img/DangVanTuan.jpg")" alt="">
                            </div>
                            <div class="testi-data">
                                <p style="font-size:18px;">Đặng Văn Tuấn</p>
                                <span style="font-size:14px;">Client, Bình Phước</span>
                            </div>
                        </div>
                    </div>

                    <!-- Single Testimonial Area -->
                    <div class="single-testimonial-area text-center">
                        <span class="quote">"</span>
                        <h6 style="font-size:15px;">Trời ơi đặt đôi giày mà mở hàng đẹp muốn xỉu luôn á, sẽ ủng hộ shop dài dài hehee, mới đặt qua nay có rồi giao hàng bao nhanh luôn. </h6>
                        <div class="testimonial-info d-flex align-items-center justify-content-center">
                            <div class="tes-thumbnail">
                                <img src="@Url.Content("~/img/VoNhatMinh.jpg")" alt="">
                            </div>
                            <div class="testi-data">
                                <p style="font-size:18px;">Võ Nhật Minh</p>
                                <span style="font-size:14px;">Client, Đà Lạt</span>
                            </div>
                        </div>
                    </div>

                    <!-- Single Testimonial Area -->
                    <div class="single-testimonial-area text-center">
                        <span class="quote">"</span>
                        <h6 style="font-size:15px;">Xinh đẹp tẹt zời :3 shopp nhiệt tình đáng yêuuuuuuuuuuu. Không mua tiếc lắm nhá :3 ngon bổ rẻ :3 :333333333333333 giao hàng nhanhhhh ơi là nhanhhhhhhh. </h6>
                        <div class="testimonial-info d-flex align-items-center justify-content-center">
                            <div class="tes-thumbnail">
                                <img src="@Url.Content("~/img/DangThiMinhNgoc.jpg")" alt="">
                            </div>
                            <div class="testi-data">
                                <p style="font-size:18px;">Đặng Thị Minh Ngọc</p>
                                <span style="font-size:14px;">Client, TP. Hồ Chí Minh</span>
                            </div>
                        </div>
                    </div>
                    <!-- Single Testimonial Area -->
                    <div class="single-testimonial-area text-center">
                        <span class="quote">"</span>
                        <h6 style="font-size:15px;">Giày đẹp lắm mọi người, mua lần thứ 2 ở shop này rồi á ưng lắm luôn shop uy tín nhé, shop phục vụ tốt gói sản phẩm chắc chắn giao hàng nhanh. Nên mua nhaaaaa. </h6>
                        <div class="testimonial-info d-flex align-items-center justify-content-center">
                            <div class="tes-thumbnail">
                                <img src="@Url.Content("~/img/MaKhonTuyen.jpg")" alt="">
                            </div>
                            <div class="testi-data">
                                <p style="font-size:18px;">Mã Khôn Tuyền</p>
                                <span style="font-size:14px;">Client, TP. Hồ Chí Minh</span>
                            </div>
                        </div>
                    </div>
                    <!-- Single Testimonial Area -->
                    <div class="single-testimonial-area text-center">
                        <span class="quote">"</span>
                        <h6 style="font-size:15px;">Giày đẹp đi vào khác hẳn, giao hàng nhanh, hôm trước đặt hôm sau có hàng rồi mọi người nên mua. Sản phẩm giống với hình ảnh shop đăng, đóng gói hàng kỹ. Sẽ tiếp tục ủng hộ shop </h6>
                        <div class="testimonial-info d-flex align-items-center justify-content-center">
                            <div class="tes-thumbnail">
                                <img src="@Url.Content("~/img/NguyenTranKhuong.jpg")" alt="">
                            </div>
                            <div class="testi-data">
                                <p style="font-size:18px;">Nguyễn Trần Khương</p>
                                <span style="font-size:14px;">Client, TP. Hồ Chí Minh</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- ****** Popular Brands Area End ****** -->