@model IEnumerable<WebApplication1.Models.SANPHAM>

@{
    ViewBag.Title = "Index";
}
<h2>Quản lí sản phẩm</h2>
<hr />
<div style="margin-bottom:15px;">
    <a style="font-size: 18px;" href="@Url.Action("Create")" class="btn btn-outline-primary">
        Thêm sản phẩm <i class="fas fa-plus-circle"></i>
    </a>
</div>
<table class="table">
    <tr>
        <th>
            Tên sản phẩm
        </th>
        <th>
            Thương hiệu
        </th>
        <th>
            Giá
        </th>
        <th>
            Màu sắc
        </th>
        <th>
            Hình ảnh
        </th>
        <th>
            Số lượng | Size
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
       <a style="color: black;" href="@Url.Action("Details", new { id = item.MASP })">@item.TENSP</a>
    </td>
    <td>
       @item.THUONGHIEU
    </td>
    <td>
        @item.GIA
    </td>
    <td>
        @item.MAUSAC
    </td>
    <td>
        <img src="@Url.Content(item.HINHANH)" style="width:50px; height:auto; margin:auto;" />
    </td>
    <td>
        <a href="@Url.Action("Details", "CHITIETSPs", new {id = item.MASP})" class="btn btn-outline-primary"> 
            Cập nhật Số Lượng <i class="far fa-arrow-alt-circle-right"></i>
        </a>
    </td>
    <td style="font-size: 22px;" >
        <a href="@Url.Action("Edit", new { id = item.MASP })">
            <i class="fas fa-edit"></i>
        </a> |
        <a href="@Url.Action("Delete", new { id = item.MASP })">
            <i class="fas fa-trash-alt"></i>
        </a>
    </td>
</tr>
}

</table>
