@model IEnumerable<WebApplication1.Models.AspNetRole>
@{
    ViewBag.Title = "Index";
}

<h2>Roles</h2>

<p>

    <a style="font-size: 18px; background-color:cornflowerblue" href="@Url.Action("Create")" class="btn btn-outline-light">
        Tạo mới <i class="fas fa-plus-circle"></i>
    </a> |
    <a style="font-size: 18px; background-color:cornflowerblue" href="@Url.Action("Index", "AspNetRoles")" class="btn btn-outline-light">
        Phân quyền tài khoản
    </a>

</p>
<table class="table" border="1" style="text-align:center;">
    <tr class="alert-dark" style="text-align:center;">
        <th>Role</th>
        <th>User</th>
        <th></th>
    </tr>

@foreach (var role in Model) {
    <tr>
        <td>
            @role.Name</td>
        <td></td>
        <td>
            <a href="@Url.Action("Edit", new { id = role.Id })">Edit</a> |
            <a href="@Url.Action("Delete","AspNetRoles",new { delete = role.Id })">Delete</a> |
            <a href="@Url.Action("Create","AspNetRoleUser",new { RoleId = role.Id })">Add User</a>
        </td>
    </tr>
    foreach( var user in role.AspNetUsers)
    {
        <tr>
            <td></td>
            <td>@user.Email</td>
            <td>
                <a href = "@Url.Action("Delete","AspNetRoleUser", new { roleId = role.Id, userId= user.Id})">Delete</a>
            </td>
        </tr>
    }
}

</table>
