@model IEnumerable<WebApplication1.Models.DONHANG>

@{
    ViewBag.Title = "Index";
}

<h2>Quản lí đơn hàng</h2>
<hr />
<table class="table" border="1" style="text-align:center;">
    <tr class="alert-dark" style="text-align:center;">
        <th style="text-align:center;">
            Họ và tên
        </th>
        <th style="text-align:center;">
            Số điện thoại
        </th>
        <th style="text-align:center;">
            Email
        </th>
        <th style="text-align:center;">
            Địa chỉ
        </th>
        <th style="text-align:center;">
            Tổng tiền
        </th>
        <th style="text-align:center;">
            Ngày đặt hàng
        </th>
        <th style="text-align:center;">
            Xem | Xóa đơn hàng
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style=" text-align:left;">
                @Html.DisplayFor(modelItem => item.HOVATEN)
            </td>
            <td style=" text-align:left;">
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td style=" text-align:left;">
                @Html.DisplayFor(modelItem => item.EMAIL)
            </td>
            <td style=" text-align:left;">
                @Html.DisplayFor(modelItem => item.DIACHI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TONGTIEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NGAYLAPDH)
            </td>
            <td>
                <a href="/CHITIETDHs/Index/@item.MADH" style="background-color:cornflowerblue" class="btn btn-outline-light">
                    Xem <i class="far fa-arrow-alt-circle-right"></i>
                </a> | 
                <a onclick="if (!confirm('Bạn có chắc chắn muốn xóa ?')) { return false }" href="/CHITIETDHs/DeleteDonHangUser/@item.MADH" style="background-color:cornflowerblue" class="btn btn-outline-light">
                    Xóa <i class="far fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    }
</table>
