@model IEnumerable<WebApplication1.Models.DONHANG>

@{
    ViewBag.Title = "Index2";
}

<h2>Lịch sử mua hàng</h2>
<hr />
<table class="table" border="1" style="text-align:center;">
    <tr class="alert-dark" style="text-align:center;">
        <th style="text-align:center;">
            Mã đơn
        </th>
        <th style="text-align:center;">
            Họ và tên
        </th>
        <th style="text-align:center;">
            điện thoại
        </th>
        <th style="text-align:center;">
            Email
        </th>
        <th style="text-align:center;">
            Địa chỉ
        </th>
        <th style="text-align:center;">
            Giá
        </th>
        <th style="text-align:center;">
            Ngày mua
        </th>
        <th style="text-align:center;">
            Trạng thái
        </th>

        <th style="text-align:center;">
            Hủy đơn
        </th>
        <th style="text-align:center;">
            Xem đơn
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td style=" text-align:left; padding-top: 15px">
        @Html.DisplayFor(modelItem => item.MADH)
    </td>
    <td style=" text-align:left; padding-top: 15px">
        @Html.DisplayFor(modelItem => item.HOVATEN)
    </td>
    <td style=" text-align:left; padding-top: 15px">
        @Html.DisplayFor(modelItem => item.SDT)
    </td>
    <td style=" text-align:left; padding-top: 15px">
        @Html.DisplayFor(modelItem => item.EMAIL)
    </td>
    <td style="text-align:left; padding-top: 15px">
        @Html.DisplayFor(modelItem => item.DIACHI)
    </td>
    <td style="text-align: left; padding-top: 15px">
        @Html.DisplayFor(modelItem => item.TONGTIEN)
    </td>
    <td style="text-align: left; padding-top: 15px">
        @Html.DisplayFor(modelItem => @item.NGAYLAPDH)
    </td>
    <td>
        @if (item.TRANGTHAI.Equals("Đã duyệt"))
        {
            <p style="padding-top: 5px">Đã duyệt</p>
        }
        else if (item.TRANGTHAI.Equals("Đã hủy"))
        {
            <p style="padding-top: 5px">Đã hủy</p>
        }
        else if (item.TRANGTHAI.Equals("Đang giao"))
        {
            <p style="padding-top: 5px">Đang giao</p>
        }
        else if (item.TRANGTHAI.Equals("Hoàn thành"))
        {
            <p style="padding-top: 5px">Hoàn thành</p>
        }
        else if (item.TRANGTHAI.Equals("Thất bại"))
        {
            <p style="padding-top: 5px">Giao hàng thất bại</p>
        }
        else
        {
            <p style="padding-top: 5px">Chờ duyệt</p>
        }
    </td>

    <td>
        @if (item.TRANGTHAI.Equals("Đã hủy") || item.TRANGTHAI.Equals("Đã duyệt") || item.TRANGTHAI.Equals("Đang giao") || item.TRANGTHAI.Equals("Hoàn thành") || item.TRANGTHAI.Equals("Thất bại"))
        {
            <p style="text-align:center; padding-top: 5px">Không thể hủy</p>
        }
        else
        {
            <a onclick="if (!confirm('Hủy đơn hàng ?')) { return false }" href="/DONHANGs/Huy2/@item.MADH" style="background-color:cornflowerblue; margin-top:3px" class="btn btn-outline-light">
                Hủy đơn
            </a>
        }
    </td>
    <td style="padding-top: 10px; font-size:30px">
        <a href="/CHITIETDHs/Index2/@item.MADH">
            <i class="fas fa-eye"></i>
        </a>
    </td>
</tr>
    }
</table>
