@model IEnumerable<WebApplication1.Models.DONHANG>

@{
    ViewBag.Title = "Index";
}

<h2>Quản lí đơn hàng</h2>
<hr />
<table class="table" border="1" style="text-align:center;">
    <tr class="alert-dark" style="text-align:center;">
        <th style="text-align:center;">
            Họ và tên
        </th>
        <th style="text-align:center;">
            Số điện thoại
        </th>
        <th style="text-align:center;">
            Email
        </th>
        <th style="text-align:center;">
            Địa chỉ
        </th>
        <th style="text-align:center;">
            Tổng tiền
        </th>
        <th style="text-align:center;">
            Ngày đặt hàng
        </th>
        <th style="text-align:center;">
            Trạng thái
        </th>

        <th style="text-align:center;">
            Hủy đơn
        </th>
        <th style="text-align:center;">
            Xem | Xóa
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td style=" text-align:left;padding-top:15px">
        @Html.DisplayFor(modelItem => item.HOVATEN)
    </td>
    <td style=" text-align:left;padding-top:15px">
        @Html.DisplayFor(modelItem => item.SDT)
    </td>
    <td style=" text-align:left;padding-top:15px">
        @Html.DisplayFor(modelItem => item.EMAIL)
    </td>
    <td style=" text-align: left; padding-top: 15px">
        @Html.DisplayFor(modelItem => item.DIACHI)
    </td>
    <td style="padding-top: 15px">
        @Html.DisplayFor(modelItem => item.TONGTIEN)
    </td>
    <td style="padding-top:15px">
        @Html.DisplayFor(modelItem => @item.NGAYLAPDH)
    </td>
    <td>
        @if (item.TRANGTHAI.Equals("Đã duyệt"))
        {
            <p style="padding-top: 5px">Đã duyệt</p>
        }
        else if (item.TRANGTHAI.Equals("Đã hủy"))
        {
            <p style="padding-top: 5px">Đã hủy</p>
        }
        else
        {
    <a onclick="if (!confirm('Duyệt đơn hàng ?')) { return false }" href="/DONHANGs/Duyet/@item.MADH" style="background-color:cornflowerblue; margin-top:0,5px" class="btn btn-outline-light">
        Duyệt
    </a>
        }
    </td>

    <td>
        @if (item.TRANGTHAI.Equals("Đã hủy"))
        {
            <p style="text-align:center; padding-top: 5px">Đã hủy</p>
        }
        else
        {
            <a onclick="if (!confirm('Hủy đơn hàng ?')) { return false }" href="/DONHANGs/Huy/@item.MADH" style="background-color:cornflowerblue; margin-top:0,5px" class="btn btn-outline-light">
                Hủy đơn
            </a>
        }
    </td>
    <td style="font-size:26px">
        <a  href="/CHITIETDHs/Index/@item.MADH">
            <i style="padding-top:2px" class="fas fa-eye"></i>
        </a> | 
        <a onclick="if (!confirm('Bạn có chắc chắn muốn xóa ?')) { return false }"  href="/CHITIETDHs/DeleteDonHangUser/@item.MADH">
            <i class="fas fa-trash-alt"></i>
        </a>
    </td>
</tr>
    }
</table>
