@model IEnumerable<WebApplication1.Models.CHITIETDH>

<h2>Chi tiết đơn hàng</h2>
<br />
<table class="table" border="1" style="text-align:center;">
    <tr class="alert-dark" style="text-align:center;">
        <th style="text-align:center;">
            Tài khoản khách hàng
        </th>
        <th style="text-align:center;">
            Tên sản phẩm
        </th>
        <th style="text-align:center;">
            Số lượng
        </th>
        <th style="text-align:center;">
            Size
        </th>
        <th style="text-align:center;">
            Giá
        </th>
        <th style="text-align:center;">
            Xóa
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="padding-top:40px">
                @Html.DisplayFor(modelItem => item.DONHANG.TKKH)
            </td>

            <td style="padding-top:40px">
                @Html.DisplayFor(modelItem => item.SANPHAM.TENSP)
            </td>

            <td style="padding-top:40px">
                @Html.DisplayFor(modelItem => item.SOLUONG)
            </td>

            <td style="padding-top:40px">
                @Html.DisplayFor(modelItem => item.SIZE)
            </td>

            <td style="padding-top:40px">
                @Html.DisplayFor(modelItem => item.GIA)
            </td>

            <td style="padding-top:40px">
                <a href="@Url.Action("Delete", new {id = item.id_ctdh})" style="background-color:cornflowerblue" class="btn btn-outline-light">
                    Xóa đơn hàng <i class="far fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    }

</table>

<a href="@Url.Action("Index", "DONHANGs")" style="background-color:cornflowerblue" class="btn btn-outline-light">
    <i class="fas fa-arrow-left"></i> Trở lại đơn hàng
</a>
<br />
