@model WebApplication1.Models.Cart

@{
    ViewBag.Title = "ShowToCart";
}

<h2>Giỏ hàng</h2>
@if (Model != null)
{
    <!-- ****** Cart Area Start ****** -->
    <table class="table">
        <thead>
            <tr class="alert-dark" style="text-align:center;">
                <th colspan="2">Sản Phẩm</th>
                <th>Giá</th>
                <th>Số Lượng</th>
                <th>Thành tiền</th>
                <th>Xóa</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var itemm in Model.Items)
            {
                double total = Convert.ToDouble(itemm._shopping_product.GIA.Value * itemm._shopping_quantity);
                <tr>
                    <td class="cart_product_img d-flex align-items-center">
                        <a href="@Url.Action("ProductDetails", "SANPHAMs", new { id = itemm._shopping_product.MASP })"><img src="@Url.Content(itemm._shopping_product.HINHANH + " ")" alt="Product"></a>
                    </td>
                    <td style="padding-top:50px; font-size:20px;">@itemm._shopping_product.TENSP
                    </td>
                    <td style="padding-top:50px; font-size:20px;">@itemm._shopping_product.GIA</td>
                    <td style="padding-top:50px;">
                        @using (Html.BeginForm("Update_Quantity_Cart", "ShoppingCart"))
                        {
                            <input type="hidden" value="@itemm._shopping_product.MASP" name="ID_Product" />
                            <input type="number" style="text-align:center; font-size:16px; height:20px;width:100px; height:22px"class="form-control-range" value="@itemm._shopping_quantity" name="Quantity" />
                            <button type="submit" style="width:100px;" class="btn-outline-dark">Cập nhật</button>
                        }

                    </td>
                    <td style="padding-top:50px; font-size:20px;" class="total_price"><span>@total</span></td>
                    <td style="padding-top:50px; font-size:20px;">
                        <a style="border: 1px solid darkgray;" href="/ShoppingCart/RemoveCart/@itemm._shopping_product.MASP" class="btn btn-outline-danger">
                            <i class="fas fa-trash-alt"></i> Remove
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <hr />
    <div class="cart-footer d-flex mt-30">
        <div class="back-to-shop w-50">
            <a style="border: 1px solid darkgray;" href="@Url.Action("Index2", "SANPHAMs")" class="btn btn-outline-danger">
                <i class="fas fa-cart-plus"></i> Continue shooping
            </a>
        </div>
        <div class="update-checkout w-50 text-right">
            <a style="border: 1px solid darkgray;" href="@Url.Action("Clear_Cart", "ShoppingCart")" class="btn btn-outline-danger">
                <i class="fas fa-broom"></i> Làm sạch giỏ hàng
            </a>
        </div>
    </div>
    <hr />
    <div class="btn-checkout w-100 text-right">
        <div class="cart-total-area mt-70">
            <ul class="cart-total-chart">
                <p style="font-size:30px; font-weight:bold;">Total</p>
                <p style="font-size:10px; text-align:center; padding-bottom:20px;">____________________________________________________________________________________________________________________________________________________________________________________________________________________________________</p>
                <li><span>Shipping</span> <span>Free</span></li>
                <li><span><strong>Total</strong></span> <span><strong>@Model.Total_Money()</strong></span></li>
            </ul>
            <a style="padding-top:15px" href="checkout.html" class="btn karl-checkout-btn">Proceed to checkout</a>
        </div>
    </div>
}
<!-- ****** Cart Area End ****** -->
