@model IEnumerable<WebApplication1.Models.TTCANHAN>

@{
    ViewBag.Title = "Index";
}

<h2>Quản lí thông tin khách hàng</h2>

<hr />
<table class="table" border="1" style="text-align:center;">
    <tr  class="alert-dark" style="text-align:center;">
        <th>
            Email
        </th>
        <th>
            Họ và tên
        </th>
        <th>
            Ngày sinh
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            Giới tính
        </th>
        <th>
            Số điện thoại
        </th>
        <th>
            Sửa
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        
        @Html.DisplayFor(modelItem => item.EMAIL)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TEN)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NGAYSINH)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DIACHI)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GIOITINH)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SDT)
    </td>
    <td>
        <a href="@Url.Action("Edit", new { id = item.id })">
            <i class="fas fa-edit"></i>
        </a>
    </td>
</tr>
}

</table>
