@model WebApplication1.Models.CHITIETGIOHANG

@{
    ViewBag.Title = "Delete";
}
<link rel='stylesheet' href='https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.css'>
<script src='https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.min.js'></script>
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Hình ảnh
        </dt>

        <dd>
            <img src="@Url.Content(Model.SANPHAM.HINHANH)" style="width: 100px; height:auto;margin:auto" />
        </dd>

        <dt>
            Tên sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SANPHAM.TENSP);
        </dd>

        <dt>
            Giá
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIA)
        </dd>

        <dt>
            Số lượng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOLUONG)
        </dd>

        <dt>
            Size
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt>
            Thành tiền
        </dt>

        @for (int i = 0; i < 1; i++)
        {
            double total = Convert.ToDouble(Model.GIA.Value * Model.SOLUONG.Value);
            <dd>@total</dd>
        }

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a href="@Url.Action("Index", new { id = Model.MAGIOHG })" style="background-color:cornflowerblue" class="btn btn-outline-light">
                <i class="fas fa-arrow-left"></i> Trở lại danh sách
            </a> |
            <input onclick="if (!confirm('Bạn có chắc chắn muốn xóa ?')) { return false }" type="submit" value="Delete" style="background-color:cornflowerblue" class="btn btn-outline-light" />
        </div>
    }
    <br />
</div>
