@model IEnumerable<WebApplication1.Models.CHITIETGIOHANG>

<table class="table">
    <tr>
        <th>
            Hình ảnh
        </th>
        <th>
            Tên sản phẩm
        </th>
        <th>
            Giá
        </th>
        <th>
            Số lượng
        </th>
        <th>
            Size
        </th>
        <th>
            Thành tiền
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        <img src="@Url.Content(item.SANPHAM.HINHANH)" style="width: 100px;height:auto; margin:auto;" />
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SANPHAM.TENSP)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SANPHAM.GIA)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SOLUONG)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Size)
    </td>
        @for (int i = 0; i < 1; i++)
        {
            double total = Convert.ToDouble(item.GIA.Value * item.SOLUONG.Value);
            <td>@total</td>
        }
    <td>
        @Html.ActionLink("Delete", "Delete", new { id = item.id })
    </td>
</tr>
}

</table>
