@model IEnumerable<WebApplication1.Models.CHITIETGIOHANG>

<h2>Chi tiết giỏ hàng</h2>
<hr />
<table class="table" border="1" style="text-align:center;">
    <tr class="alert-dark" style="text-align:center;">
        <th style="text-align:center;">
            Hình ảnh
        </th>
        <th style="text-align:center;">
            Tên sản phẩm
        </th>
        <th style="text-align:center;">
            Giá
        </th>
        <th style="text-align:center;">
            Số lượng
        </th>
        <th style="text-align:center;">
            Size
        </th>
        <th style="text-align:center;">
            Thành tiền
        </th>
        <th style="text-align:center;">
            Xóa sản phẩm
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@Url.Content(item.SANPHAM.HINHANH)" style="width: 80px;height:auto; margin:auto;" />
            </td>
            <td style="padding-top:40px">
                @Html.DisplayFor(modelItem => item.SANPHAM.TENSP)
            </td>
            <td style="padding-top:40px">
                @Html.DisplayFor(modelItem => item.SANPHAM.GIA)
            </td>
            <td style="padding-top:40px">
                @Html.DisplayFor(modelItem => item.SOLUONG)
            </td>
            <td style="padding-top:40px">
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            @for (int i = 0; i < 1; i++)
            {
                double total = Convert.ToDouble(item.GIA.Value * item.SOLUONG.Value);
                <td style="padding-top:40px">@total</td>
            }
            <td style="padding-top:40px">
                <a href="@Url.Action("Delete", new {id = item.id})" style="background-color:cornflowerblue" class="btn btn-outline-light">
                    Xóa sản phẩm <i class="far fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    }

</table>
<a href="@Url.Action("Index", "GIOHANGs")" style="background-color:cornflowerblue" class="btn btn-outline-light">
    <i class="fas fa-arrow-left"></i> Trở lại danh sách
</a>
<br />
<br />
